.search_tag_innerDiv ul li{
	width:100%;
	height:24px;
	line-height:24px;
	text-indent:4px;
	border-bottom:1px dashed #ccc;
	color:#666;
	cursor:pointer;
	white-space:nowrap;
}

.search_tag_outDiv{
	display: none;
}

.search_tag_innerDiv{
	position:absolute;
	overflow: hidden;
	z-index:1;
	background: #FFF;
	border:1px solid #CCCCCC;
	-moz-border-radius: 4px;      /* Gecko browsers */
    -webkit-border-radius: 4px;   /* Webkit browsers */
    border-radius: 4px;            /* W3C syntax */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search_tag_span .search_input{
	height:21px;
}

.search_tag_innerDiv ul{
	margin:0;
	padding:0;
}

.search_tag_span .search_input{
	margin: 0px;
	padding: 0px;
	border: 1px solid #999;
}

.under_u{
	cursor:pointer;
}

#under_span1{
	float: left;
}

#under_span2{
	float: right;
}

.underDivIdent{
	width:100%;
	position: absolute;
	bottom: 0;
	font: 90% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	-moz-user-select:none;/*FF浏览器，文本不可选择的属性*/
}

/*兼容模式不支持该样式*/
.search_tag_li:hover{
	color:#FFF;
	background-color: #2828FF;
}

.search_tag_innerDiv .li-selected{
	color:#FFF;
	background-color: #669999;
}
.search_tag_innerDiv .li-mouseover{
	color:#FFF;
	background-color: #2828FF;
}

.search_tag_innerDiv .search_input{
	height:21px;
	width:95%;
	margin: 2px 4px 2px 4px;
	border:1px solid #CCCCCC;
	-moz-border-radius: 4px;      /* Gecko browsers */
    -webkit-border-radius: 4px;   /* Webkit browsers */
    border-radius: 4px;            /* W3C syntax */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search_tag_alert{
	display: none;
	min-width:50px;
	min-height:15px;
	border:1px solid #cccccc;
	background:#669999;
	color:#fff; 
	padding-left:5px; 
	padding-right:5px; 
	display:none; 
	position:absolute;
	z-index: 99;
	-moz-border-radius: 4px;      /* Gecko browsers */
    -webkit-border-radius: 4px;   /* Webkit browsers */
    border-radius: 4px;            /* W3C syntax */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}