<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>for循环</title>
</head>
<body>
{#    {% for book in books %}#}
{#        {% for k, v in book.items() %}#}
{#            <p>{{ k }}: {{ v }}</p>#}
{#        {% endfor %}#}
{#         <hr>#}
{#    {% endfor %}#}
<table>
        <thead>
            <th>书名</th>
            <th>作者</th>
            <th>价格</th>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>